<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="utf-8">
    <title>Create an account</title>
</head>
<body>

<div layout:fragment="admin_content">
    <div class="container">
        <div class="card mt-4 mb-4">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img th:src="@{${'/img/'+ product.getPicture()}}" width="180" height="220"/>
                    </div>
                    <div class="col-8">
                        <h3 class="card-title" th:text="${product.getProductName()} + ' '+ (${product.getSize() ne null} ? ${product.getSize()}+ 'см'  : '')">name</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>id</td>
                        <td th:text="${product.getId()}">id</td>
                    </tr>
                    <tr>
                        <td>created</td>
                        <td th:text="${#calendars.format(product.getCreated(),'dd MMMM yyyy')}">id</td>
                    </tr>
                    <tr>
                        <td>updated</td>
                        <td th:text="${#calendars.format(product.getUpdated(),'dd MMMM yyyy')}">id</td>
                    </tr>
                    <tr>
                        <td>visible</td>
                        <td th:text="${product.getVisible()}">id</td>
                    </tr>
                    <tr>
                        <td>product weight</td>
                        <td th:text="${product.getWeight()}">id</td>
                    </tr>
                    <tr>
                        <td>price</td>
                        <td th:text="${'₴' + product.getPrice()}">id</td>
                    </tr>

                    <tr th:if="${product.getProductType() != null}">
                        <td>product type</td>
                        <td>
                            <a
                                    th:href="@{'/admin/publishers/' + ${product.getProductType().getId()}}"
                                    th:text="${product.getProductType().getType()}"
                                    type="button" class="btn btn-link"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
