<footer id="footer" th:fragment="footer">
    <div class="footer__contaiter container col-8">
        <div class="footer__wrapper footer__mobile">
            <div class="footer__header">
                <div class="footer__logo">
                    <img th:src="@{../../img/logo1.svg}"  alt="footer_logo" class="footer__img"/>
                    <div class="footer__name">Rosemary & Thyme</div>
                </div>
            </div>
            <div class="footer__subheader">
                м. Хірків,<br>
                вул. Чкалова 1
            </div>
            <div class="footer__subheader">
                Пошук роботи<br>
                rosemaryandthyme@kharkiv.ua
            </div>
            <div class="footer__subheader">
                Телефон гарячої лінії<br>
                +380 666-784-523
            </div>
            <img th:src="@{../../img/tg.png}" alt="social" class="footer__social">
            <img th:src="@{../../img/inst.png}" alt="social" class="footer__social">
            <img th:src="@{../../img/viber.png}" alt="social" class="footer__social">
            <img th:src="@{../../img/whatsapp.png}" alt="social" class="footer__social">
        </div>
        <div class="footer__wrapper">
            <div class="footer__header">Наш продукт</div>
            <div class="footer__subheader">Процес</div>
            <div class="footer__subheader">Продукція</div>
        </div>
        <div class="footer__wrapper">
            <div class="footer__header">Обслуговування</div>
            <div class="footer__subheader">Клієнти</div>
            <div class="footer__subheader">Надійність</div>
        </div>
        <div class="footer__wrapper">
            <div class="footer__header">Компанія</div>
            <div class="footer__subheader">Про нас</div>
            <div class="footer__subheader">Потрапити в команду</div>
        </div>

    </div>

    <div class="footer__copyrigh container col-8">
        <div class="footer__divider"></div>
        <div class="footer__info">© 2023 Rosemary & Thyme. Іван Корнієнко.</div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="../js/script.js"></script>
</footer>

